In [10]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import sklearn

In [11]:
import_df = pd.read_csv('zoo.csv')

In [12]:
import_df.head()

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1

In [13]:
import_df.shape

(101, 18)

In [16]:
import_df.head(101)

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,wallaby,1,0,0,1,0,0,0,1,1,1,0,0,2,1,0,1,1
97,wasp,1,0,1,0,1,0,0,0,0,1,1,0,6,0,0,0,6
98,wolf,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
99,worm,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,7
100,wren,0,1,1,0,1,0,0,0,1,1,0,0,2,1,0,0,2

In [17]:
import_df.hair

0      1
1      1
2      0
3      1
4      1
      ..
96     1
97     1
98     1
99     0
100    0
Name: hair, Length: 101, dtype: int64

In [18]:
import_df.milk

0      1
1      1
2      0
3      1
4      1
      ..
96     1
97     0
98     1
99     0
100    0
Name: milk, Length: 101, dtype: int64

In [26]:
import_df[['hair', 'milk']].shape

(101, 2)

In [27]:
X = import_df.loc[:, import_df.columns != 'class_type']

In [28]:
print(X)

    animal_name  hair  feathers  eggs  milk  airborne  aquatic  predator  \
0      aardvark     1         0     0     1         0        0         1
1      antelope     1         0     0     1         0        0         0
2          bass     0         0     1     0         0        1         1
3          bear     1         0     0     1         0        0         1
4          boar     1         0     0     1         0        0         1
..          ...   ...       ...   ...   ...       ...      ...       ...
96      wallaby     1         0     0     1         0        0         0
97         wasp     1         0     1     0         1        0         0
98         wolf     1         0     0     1         0        0         1
99         worm     0         0     1     0         0        0         0
100        wren     0         1     1     0         1        0         0

     toothed  backbone  breathes  venomous  fins  legs  tail  domestic  \
0          1         1         1         0     0     4     0         0
1          1         1         1         0     0     4     1         0
2          1         1         0         0     1     0     1         0
3          1         1         1         0     0     4     0         0
4          1         1         1         0     0     4     1         0
..       ...       ...       ...       ...   ...   ...   ...       ...
96         1         1         1         0     0     2     1         0
97         0         0         1         1     0     6     0         0
98         1         1         1         0     0     4     1         0
99         0         0         1         0     0     0     0         0
100        0         1         1         0     0     2     1         0

     catsize
0          1
1          1
2          0
3          1
4          1
..       ...
96         1
97         0
98         1
99         0
100        0

[101 rows x 17 columns]

In [29]:
import_df['class_type']

0      1
1      1
2      4
3      1
4      1
      ..
96     1
97     6
98     1
99     7
100    2
Name: class_type, Length: 101, dtype: int64

In [30]:
Y = import_df['class_type']

In [37]:
from sklearn.model_selection import train_test_split

In [34]:
(X_train, X_test, Y_train, Y_test) = train_test_split(X, Y, stratify=Y, test_size= 0.3)

In [ ]:
# Creating and training Models

In [38]:
from sklearn.tree import DecisionTreeClassifier

In [49]:
model = DecisionTreeClassifier()

In [61]:
model.fit(X_train, Y_train)

ValueError: could not convert string to float: 'bass'